<a href="https://colab.research.google.com/github/nicha0524/DPDM2021/blob/main/Data_Preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [3]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os # จัดการไฟล์และ path

In [5]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [6]:
data_cases['risk']  # เรียกข้อมูล เรียกตามชื่อ column

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

In [7]:
data_cases[['risk','age']] #เรียกข้อมูลตามชื่อ column สามารถเรียกได้หลายค่า แต่ต้องใส่ [] ด้วย

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [8]:
data_cases['risk'][666] # เรียกข้อมูลใน column 'risk' ข้อมูลที่ 666

'สนามมวย'

# ชี้โดยใช้ .iloc[] (แปลงมุมมองให้เป็น matrix)

In [9]:
data_cases.iloc[4,4] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูลใน แถวที่ 4 หลักที่ 4

66.0

In [10]:
data_cases.iloc[-50:,:] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูล 50 แถวสุดท้ายของทุก คอลัมน์

           No. announce_date  ... province_of_onset district_of_onset
512572  512573     26/7/2021  ...               NaN               NaN
512573  512574     26/7/2021  ...               NaN               NaN
512574  512575     26/7/2021  ...               NaN               NaN
512575  512576     26/7/2021  ...               NaN               NaN
512576  512577     26/7/2021  ...               NaN               NaN
512577  512578     26/7/2021  ...               NaN               NaN
512578  512579     26/7/2021  ...               NaN               NaN
512579  512580     26/7/2021  ...               NaN               NaN
512580  512581     26/7/2021  ...               NaN               NaN
512581  512582     26/7/2021  ...               NaN               NaN
512582  512583     26/7/2021  ...               NaN               NaN
512583  512584     26/7/2021  ...               NaN               NaN
512584  512585     26/7/2021  ...               NaN               NaN
512585  512586     26/7/2021  ...               NaN               NaN
512586  512587     26/7/2021  ...               NaN               NaN
512587  512588     26/7/2021  ...               NaN               NaN
512588  512589     26/7/2021  ...               NaN               NaN
512589  512590     26/7/2021  ...               NaN               NaN
512590  512591     26/7/2021  ...               NaN               NaN
512591  512592     26/7/2021  ...               NaN               NaN
512592  512593     26/7/2021  ...               NaN               NaN
512593  512594     26/7/2021  ...               NaN               NaN
512594  512595     26/7/2021  ...               NaN               NaN
512595  512596     26/7/2021  ...               NaN               NaN
512596  512597     26/7/2021  ...               NaN               NaN
512597  512598     26/7/2021  ...               NaN               NaN
512598  512599     26/7/2021  ...               NaN               NaN
512599  512600     26/7/2021  ...               NaN               NaN
512600  512601     26/7/2021  ...               NaN               NaN
512601  512602     26/7/2021  ...               NaN               NaN
512602  512603     26/7/2021  ...               NaN               NaN
512603  512604     26/7/2021  ...               NaN               NaN
512604  512605     26/7/2021  ...               NaN               NaN
512605  512606     26/7/2021  ...               NaN               NaN
512606  512607     26/7/2021  ...               NaN               NaN
512607  512608     26/7/2021  ...               NaN               NaN
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN
512613  512614     26/7/2021  ...               NaN               NaN
512614  512615     26/7/2021  ...               NaN               NaN
512615  512616     26/7/2021  ...               NaN               NaN
512616  512617     26/7/2021  ...               NaN               NaN
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[50 rows x 11 columns]

In [11]:
data_cases.iloc[-50:,[3,6,8]] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูล 50 แถวสุดท้ายของ คอลัมน์ที่ 3 ,6 ,9

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistics of Data

In [12]:
data_cases.describe() # .describe() ดูข้อมูลทางสถิติ จะคำนวนใน column ที่เป็นตัวเลข

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing Value



*   Null
*   NaN = Not a Number
*   NA = Not available

In [13]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [14]:
data_cases.isnull() #.isnull() ดูว่าม่ค่าว่างมั้ย ถ้ามีจะขึ้น True

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [15]:
data_cases.isnull().any()  # .any() คือ Or ในแนว columns

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [16]:
data_cases.isnull().any().any()

True

In [17]:
data_cases.isnull().all()  # .all() คือ and ในแนว columns

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# Handling Missing Value 1 (ลบค่า missing )

In [18]:
data_cases.shape #ดูขนาดของข้อมูล

(512622, 11)

In [19]:
data_cases_M1 = data_cases.dropna() #.dropna() ตัดค่าผิดปกติ (ค่าผิดปกติในที่นี้คือค่าว่าง)

In [20]:
data_cases_M1.shape

(362205, 11)

size before drop = 1000

size after drop = 10 

we lost 99% of data

In [21]:
print('size before drop = ',len(data_cases))   #จำนวนข้อมูลก่อนตัด missing
print('size after drop = ', len(data_cases_M1)) #จำนวนข้อมูลหลังตัด missing
print('we lost ', ((len(data_cases)-len(data_cases_M1))/len(data_cases))*100, '% of data') #จำนวนข้อมูลหลังตัด missing

size before drop =  512622
size after drop =  362205
we lost  29.342673548930794 % of data

In [22]:
# ใช้ f'string
print(f'size before drop = {len(data_cases)}') #จำนวนข้อมูลก่อนตัด missing 
print('size after drop = ', len(data_cases_M1)) #จำนวนข้อมูลหลังตัด missing
print(f'we lost {((len(data_cases)-len(data_cases_M1))/len(data_cases))*100:.2f}% of data')#จำนวนข้อมูลหลังตัด missing (: .2 กำหนดจุดทศนิยม)

size before drop = 512622
size after drop =  362205
we lost 29.34% of data

## Handling Missing Value 1.5 (ลบค่า missing เฉพาะใน column ที่เราสนใจ)

In [23]:
data_cases_M15 = data_cases.dropna(subset=['Notified date', 'sex', 'age']) #.dropna(subset=[]) ลบค่า missing เฉพาะใน column Notified date, sex, age

In [24]:
data_cases_M15.shape #ดูขนาดของข้อมูลหลังจากที่ตัด missing แล้ว

(449552, 11)

HW 

```print``` ของ missing 1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handling_missing1

In [25]:
print(f'size before drop = {len(data_cases)}') #จำนวนข้อมูลก่อนตัด missing 
print('size after drop = ', len(data_cases_M15)) #จำนวนข้อมูลหลังตัด missing
print(f'we lost {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data')#จำนวนข้อมูลหลังตัด missing (: .2 กำหนดจุดทศนิยม)

size before drop = 512622
size after drop =  449552
we lost 12.30% of data