<a href="https://colab.research.google.com/github/nicha0524/DPDM2021/blob/main/Data_Preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # จัดการไฟล์และ path

In [4]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [5]:
data_cases['risk']  # เรียกข้อมูล เรียกตามชื่อ column

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

In [6]:
data_cases[['risk','age']] #เรียกข้อมูลตามชื่อ column สามารถเรียกได้หลายค่า แต่ต้องใส่ [] ด้วย

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [7]:
data_cases['risk'][666] # เรียกข้อมูลใน column 'risk' ข้อมูลที่ 666

'สนามมวย'

# ชี้โดยใช้ .iloc[] (แปลงมุมมองให้เป็น matrix)

In [8]:
data_cases.iloc[4,4] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูลใน แถวที่ 4 หลักที่ 4

66.0

In [9]:
data_cases.iloc[-50:,:] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูล 50 แถวสุดท้ายของทุก คอลัมน์

           No. announce_date  ... province_of_onset district_of_onset
512572  512573     26/7/2021  ...               NaN               NaN
512573  512574     26/7/2021  ...               NaN               NaN
512574  512575     26/7/2021  ...               NaN               NaN
512575  512576     26/7/2021  ...               NaN               NaN
512576  512577     26/7/2021  ...               NaN               NaN
512577  512578     26/7/2021  ...               NaN               NaN
512578  512579     26/7/2021  ...               NaN               NaN
512579  512580     26/7/2021  ...               NaN               NaN
512580  512581     26/7/2021  ...               NaN               NaN
512581  512582     26/7/2021  ...               NaN               NaN
512582  512583     26/7/2021  ...               NaN               NaN
512583  512584     26/7/2021  ...               NaN               NaN
512584  512585     26/7/2021  ...               NaN               NaN
512585  512586     26/7/2021  ...               NaN               NaN
512586  512587     26/7/2021  ...               NaN               NaN
512587  512588     26/7/2021  ...               NaN               NaN
512588  512589     26/7/2021  ...               NaN               NaN
512589  512590     26/7/2021  ...               NaN               NaN
512590  512591     26/7/2021  ...               NaN               NaN
512591  512592     26/7/2021  ...               NaN               NaN
512592  512593     26/7/2021  ...               NaN               NaN
512593  512594     26/7/2021  ...               NaN               NaN
512594  512595     26/7/2021  ...               NaN               NaN
512595  512596     26/7/2021  ...               NaN               NaN
512596  512597     26/7/2021  ...               NaN               NaN
512597  512598     26/7/2021  ...               NaN               NaN
512598  512599     26/7/2021  ...               NaN               NaN
512599  512600     26/7/2021  ...               NaN               NaN
512600  512601     26/7/2021  ...               NaN               NaN
512601  512602     26/7/2021  ...               NaN               NaN
512602  512603     26/7/2021  ...               NaN               NaN
512603  512604     26/7/2021  ...               NaN               NaN
512604  512605     26/7/2021  ...               NaN               NaN
512605  512606     26/7/2021  ...               NaN               NaN
512606  512607     26/7/2021  ...               NaN               NaN
512607  512608     26/7/2021  ...               NaN               NaN
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN
512613  512614     26/7/2021  ...               NaN               NaN
512614  512615     26/7/2021  ...               NaN               NaN
512615  512616     26/7/2021  ...               NaN               NaN
512616  512617     26/7/2021  ...               NaN               NaN
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[50 rows x 11 columns]

In [10]:
data_cases.iloc[-50:,[3,6,8]] # ชี้ข้อมูลโดยใช่ iloc ชี้ข้อมูล 50 แถวสุดท้ายของ คอลัมน์ที่ 3 ,6 ,9

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistics of Data

In [11]:
data_cases.describe() # .describe() ดูข้อมูลทางสถิติ จะคำนวนใน column ที่เป็นตัวเลข

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing Value



*   Null
*   NaN = Not a Number
*   NA = Not available

In [12]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [13]:
data_cases.isnull() #.isnull() ดูว่าม่ค่าว่างมั้ย ถ้ามีจะขึ้น True

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [14]:
data_cases.isnull().any()  # .any() คือ Or ในแนว columns

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [15]:
data_cases.isnull().any().any()

True

In [16]:
data_cases.isnull().all()  # .all() คือ and ในแนว columns

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# Handling Missing Value 1 (ลบค่า missing )

In [17]:
data_cases.shape #ดูขนาดของข้อมูล

(512622, 11)

In [18]:
data_cases_M1 = data_cases.dropna() #.dropna() ตัดค่าผิดปกติ (ค่าผิดปกติในที่นี้คือค่าว่าง)

In [19]:
data_cases_M1.shape

(362205, 11)

size before drop = 1000

size after drop = 10 

we lost 99% of data

In [20]:
print('size before drop = ',len(data_cases))   #จำนวนข้อมูลก่อนตัด missing
print('size after drop = ', len(data_cases_M1)) #จำนวนข้อมูลหลังตัด missing
print('we lost ', ((len(data_cases)-len(data_cases_M1))/len(data_cases))*100, '% of data') #จำนวนข้อมูลหลังตัด missing

size before drop =  512622
size after drop =  362205
we lost  29.342673548930794 % of data

In [21]:
# ใช้ f'string
print(f'size before drop = {len(data_cases)}') #จำนวนข้อมูลก่อนตัด missing 
print('size after drop = ', len(data_cases_M1)) #จำนวนข้อมูลหลังตัด missing
print(f'we lost {((len(data_cases)-len(data_cases_M1))/len(data_cases))*100:.2f}% of data')#จำนวนข้อมูลหลังตัด missing (: .2 กำหนดจุดทศนิยม)

size before drop = 512622
size after drop =  362205
we lost 29.34% of data

## Handling Missing Value 1.5 (ลบค่า missing เฉพาะใน column ที่เราสนใจ)

In [22]:
data_cases_M15 = data_cases.dropna(subset=['Notified date', 'sex', 'age']) #.dropna(subset=[]) ลบค่า missing เฉพาะใน column Notified date, sex, age

In [23]:
data_cases_M15.shape #ดูขนาดของข้อมูลหลังจากที่ตัด missing แล้ว

(449552, 11)

HW 

```print``` ของ missing 1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handling_missing1

In [24]:
A=(len(data_cases)/len(data_cases)) 
B1=(len(data_cases)-len(data_cases_M15))/len(data_cases) #data ตัด missing เฉพาะ Column ออกแล้ว
B2=(len(data_cases)-len(data_cases_M1))/len(data_cases)  # data ตัด missing ทั้งหมด ออกแล้ว

print(A)
print(B1)
print(B2)

1.0
0.12303412651037217
0.2934267354893079

In [25]:
print(f'size before drop = {len(data_cases)}') #จำนวนข้อมูลก่อนตัด missing 
print('size after drop = ', len(data_cases_M15)) #จำนวนข้อมูลหลังตัด missing
print(f'we lost {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data')#จำนวนข้อมูลหลังตัด missing (: .2 กำหนดจุดทศนิยม)
print(f'now we have {((A-B1)-(A-B2))*100:.2f}% more data than hondling_missing1' )

size before drop = 512622
size after drop =  449552
we lost 12.30% of data
now we have 17.04% more data than hondling_missing1

### Handling Missing Value 2 แทนด้วยค่าที่เหมาะสม หรือสร้าง class ใหม่

In [26]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [28]:
from matplotlib import  pyplot as plt

In [31]:
data_cases['age'].mean(skipna=False) # ถ้าฟังชั่น ไม่ได้ป้องกัน data ที่มี missing ไว้

nan

In [33]:
data_cases[['Notified date']]=data_cases[['Notified date']].fillna('99/99/9999')

In [34]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [35]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

### ดู column unit

In [37]:
data_cases['Unit']

0          ปี
1          ปี
2          ปี
3          ปี
4          ปี
         ...
512617    NaN
512618    NaN
512619    NaN
512620    NaN
512621    NaN
Name: Unit, Length: 512622, dtype: object

In [36]:
set(data_cases['Unit']) ## หา unigue value

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

### [PD] วิธีเลือก record โดยการกำหนดค่า

In [38]:
data_cases[data_cases['Unit']=='วัน']

           No. announce_date  ... province_of_onset district_of_onset
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
23791    23792     10/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
40962    40963     18/4/2021  ...        นครราชสีมา           เสิงสาง
57747    57748     27/4/2021  ...               NaN               NaN
72457    72458      4/5/2021  ...     กรุงเทพมหานคร            สายไหม
...        ...           ...  ...               ...               ...
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
474582  474583     24/7/2021  ...        ฉะเชิงเทรา           บางปะกง
477365  477366     24/7/2021  ...      สุราษฎร์ธานี            พุนพิน
488901  488902     25/7/2021  ...            ชลบุรี          บางละมุง
504780  504781     26/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์

[64 rows x 11 columns]

In [39]:
data_cases[data_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

###data_frame[list_of_logic]  #มีขนาเท่ากับ record

In [40]:
data_cases['Unit']=='วัน' #list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [42]:
data_cases[data_cases['Unit']=='วัน'].sort_values (by='age')

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

Quiz 10

In [43]:
set(data_cases['province_of_isolation'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [45]:
data_cases[data_cases['province_of_isolation']=='กรุงเทพมหานคร']

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN

[161884 rows x 11 columns]

In [48]:
set(data_cases['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์ุ',
 'กาฬสิินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'จ.ปัตตานี',
 'จังหวัดร้อยเอ็ด',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชััยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครประฐม',
 'นครพนม',
 'นครราชธสีมา',
 'นครราชสีมา',
 'นครศรธรรมาช',
 'นครศรี',
 'นครศรีธรรมราช',
 'นครศรีธรรรมราช',
 'นครศรีราชสีมา',
 'นครศรีีธรรมราช',
 'นครสวรรค์',
 'นครสววรค์',
 'นตรปฐม',
 'นนทบุรี',
 'นนทุบรี',
 'นราธิวาส',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บึึงกาฬ',
 'บุรีรัมย์',
 'บ้านหลวง',
 'ปทุมทานี',
 'ปทุมธานี',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ประจวบครีขันธ์',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปลายพระยา',
 'ปัตตานี',
 'ปัตตานี\u200b',
 'ปัว',
 'พม่า',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุธนา',
 'พระนครศรีอยุธยา',
 'พระนครศีรอยุธยา',
 'พระนครศีอยุธยา',
 'พระนตรศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสารคราม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ร้อยเอ็็ด',
 'ร้อยเอ้ด',
 'ร้้อยเอ็ด',
 'ลพบรี',
 'ลพบุรี',
 'ลพบุุรี',
 'ลอง',
 'ลำปาง',
 'ลำพูน',
 'วังชิ้น',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'ศรีีสะเกษ',
 'ศีรษะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สงขขลา',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมทรสาคร',
 'สมุทปราการ',
 'สมุทรปราการ',
 'สมุทรปาการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สมุุทสาคร',
 'สระบุรี',
 'สระบุุรี',
 'สระแก้ว',
 'สรแก้ว',
 'สอง',
 'สองแคว',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรณบุรี',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุุราษฎร์ธานี',
 'สุโขทัย',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวลำภู',
 'หนองบัวลำภูู',
 'หนองบัวลำำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'อยุธยา',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุดรธานีี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่างทอง',
 'ูภูเก็ต',
 'เชียงราย',
 'เชียงใหม่',
 'เด่นชัย',
 'เพชบุรี',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เพรชบุรี',
 'เพรบุรี',
 'เมือง',
 'เมืองน่าน',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [75]:
a =data_cases[data_cases['sex'] =='ชาย']
a = a[a['province_of_isolation'] == 'เชียงใหม่']
a = a[a['age'] >=18]
a = a[a['age'] <=22]
a.sort_values(by='age')

           No. announce_date  ... province_of_onset district_of_onset
37385    37386     15/4/2021  ...         เชียงใหม่            แม่ออน
38887    38888     16/4/2021  ...         เชียงใหม่         ดอยสะเก็ด
81287    81288      9/5/2021  ...         เชียงใหม่           สันทราย
47078    47079     22/4/2021  ...         เชียงใหม่            แม่ริม
78869    78870      8/5/2021  ...         เชียงใหม่    เมืองเชียงใหม่
...        ...           ...  ...               ...               ...
34470    34471     13/4/2021  ...         เชียงใหม่               NaN
34445    34446     13/4/2021  ...         เชียงใหม่               NaN
34439    34440     13/4/2021  ...         เชียงใหม่               NaN
34506    34507     13/4/2021  ...         เชียงใหม่               NaN
497302  497303     26/7/2021  ...         เชียงใหม่             หางดง

[411 rows x 11 columns]

In [ ]:
set(data_cases['Unit'])

In [76]:
import matplotlib as mpl
mpl.__version__

'3.2.2'

In [77]:
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

FileNotFoundError: ignored

In [ ]:
plt.hist

In [79]:
data_cases[['Unit']]=data_cases[['Unit']].fillna(' ปี ')

In [80]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                     False
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [81]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [82]:
data_cases[['nationality']]=data_cases[['nationality']].fillna(' ไทย? ')

In [83]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

Handling Missing Value 3 แทนด้วยค่ากลาง

In [84]:
data_cases[['age']]=data_cases[['age']].fillna(data_cases[['age']].mean())

In [87]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [88]:
sorted(list(data_cases['sex'].dropna()))

['ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 'ชาย',
 ...]

In [89]:
len(list(data_cases['sex'].dropna()))

481884

In [90]:
data_cases[['sex']].dropna().mode()

   sex
0  ชาย

In [91]:
data_cases[['sex']].dropna().mode().iloc[0,0]

'ชาย'

In [92]:
data_cases[['sex']]=data_cases[['sex']].fillna(data_cases[['sex']].dropna().mode().iloc[0,0])

In [93]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [ ]:
province_of_onset

In [95]:
data_cases[['province_of_onset']].dropna().mode().iloc[0,0]

'กรุงเทพมหานคร'

In [99]:
data_cases[['province_of_onset']]=data_cases[['province_of_onset']].fillna(data_cases[['province_of_onset']].dropna().mode().iloc[0,0])

In [100]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset        False
district_of_onset         True
dtype: bool