<a href="https://colab.research.google.com/github/nicha0524/DPDM2021/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

import os # จัดการไฟล์และ path

In [6]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
reduced_marketbasket= pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin=1') # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
reduced_marketbasket

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [12]:
tran=reduced_marketbasket.groupby('InvoiceNo')['StockCode'].apply(list)

In [7]:
! pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=dfb3d37137dfd1e60f02d1a576f4f6e8a3432f06a7f70b36a83d02136b45f6ba
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [14]:
from apyori import apriori

In [16]:
fre = list(apriori(tran,min_supprt = 0.075))
fre

[]