<a href="https://colab.research.google.com/github/nicha0524/DPDM2021/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###ขั้นที่ 1 ดึงข้อมูลจาก drive

In [127]:
import pandas as pd

In [128]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:
import os # จัดการไฟล์และ path

##### ตารางที่ 1 Products (ใช้ข้อมูล PRODCATEGORYID)

In [130]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
Products= pd.read_csv(os.path.join(path,'Products.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
Products

   PRODUCTID TYPECODE PRODCATEGORYID  ...  WEIGHTUNIT  CURRENCY  PRICE
0    RO-1001       PR             RO  ...          KG       USD    525
1    RO-1002       PR             RO  ...          KG       USD    689
2    RO-1003       PR             RO  ...          KG       USD    721
3    BX-1011       PR             BX  ...          KG       USD    249
4    BX-1012       PR             BX  ...          KG       USD    399
5    BX-1013       PR             BX  ...          KG       USD    449
6    BX-1014       PR             BX  ...          KG       USD    799
7    BX-1015       PR             BX  ...          KG       USD    299
8    BX-1016       PR             BX  ...          KG       USD    319
9    CC-1021       PR             CC  ...          KG       USD   1144
10   CC-1022       PR             CC  ...          KG       USD   1200
11   CC-1023       PR             CC  ...          KG       USD   1361
12   MB-1031       PR             MB  ...          KG       USD    649
13   MB-1032       PR             MB  ...          KG       USD   1299
14   MB-1033       PR             MB  ...          KG       USD   3999
15   MB-1034       PR             MB  ...          KG       USD   2499
16   RC-1051       PR             RC  ...          KG       USD   2499
17   RC-1052       PR             RC  ...          KG       USD   3999
18   RC-1053       PR             RC  ...          KG       USD   4599
19   RC-1054       PR             RC  ...          KG       USD   5499
20   RC-1055       PR             RC  ...          KG       USD   1999
21   RC-1056       PR             RC  ...          KG       USD   2499
22   RC-1057       PR             RC  ...          KG       USD   4999
23   DB-1081       PR             DB  ...          KG       USD   1499
24   DB-1082       PR             DB  ...          KG       USD   1250
25   DB-1083       PR             DB  ...          KG       USD   1199
26   EB-1131       PR             EB  ...          KG       USD   1500
27   EB-1132       PR             EB  ...          KG       USD   1900
28   EB-1133       PR             EB  ...          KG       USD   2250
29   EB-1134       PR             EB  ...          KG       USD   4800
30   EB-1135       PR             EB  ...          KG       USD   3000
31   EB-1136       PR             EB  ...          KG       USD   5000
32   EB-1137       PR             EB  ...          KG       USD   7900
33   CB-1161       PR             CB  ...          KG       USD    399
34   CB-1162       PR             CB  ...          KG       USD    400
35   CB-1163       PR             CB  ...          KG       USD    288
36   HB-1171       PR             HB  ...          KG       USD    699
37   HB-1172       PR             HB  ...          KG       USD    799
38   HB-1173       PR             HB  ...          KG       USD    649
39   HB-1174       PR             HB  ...          KG       USD    379
40   HB-1175       PR             HB  ...          KG       USD    899
41   HB-1176       PR             HB  ...          KG       USD   1199

[42 rows x 14 columns]

##### ตารางที่ 2 SalesOrderItems (ใช้ข้อมูล DELIVERYDATE)

In [131]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
SalesOrderItems= pd.read_csv(os.path.join(path,'SalesOrderItems.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
SalesOrderItems

      SALESORDERID  SALESORDERITEM  ... QUANTITYUNIT DELIVERYDATE
0        500000000              10  ...           EA     20180311
1        500000000              20  ...           EA     20180311
2        500000001              10  ...           EA     20180228
3        500000001              20  ...           EA     20180228
4        500000001              30  ...           EA     20180228
...            ...             ...  ...          ...          ...
1925     500000333              10  ...           EA     20190709
1926     500000333              20  ...           EA     20190709
1927     500000333              30  ...           EA     20190709
1928     500000333              40  ...           EA     20190709
1929     500000333              50  ...           EA     20190709

[1930 rows x 13 columns]

##### ตารางที่ 3 SalesOrders (ใช้ข้อมูล SALESORG)

In [132]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
SalesOrders= pd.read_csv(os.path.join(path,'SalesOrders.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
SalesOrders

     SALESORDERID  CREATEDBY  CREATEDAT  ...  GROSSAMOUNT  NETAMOUNT  TAXAMOUNT
0       500000000          4   20180111  ...        13587  11888.625   1698.375
1       500000001          2   20180112  ...        12622  11044.250   1577.750
2       500000002          5   20180115  ...        45655  39948.125   5706.875
3       500000003          3   20180115  ...       101786  89062.750  12723.250
4       500000004          8   20180116  ...        71684  62723.500   8960.500
..            ...        ...        ...  ...          ...        ...        ...
329     500000329          7   20190619  ...        90621  79293.375  11327.625
330     500000330         11   20190622  ...       113871  99637.125  14233.875
331     500000331          3   20190625  ...        12693  11106.375   1586.625
332     500000332         13   20190627  ...        70528  61712.000   8816.000
333     500000333          5   20190627  ...        16576  14504.000   2072.000

[334 rows x 13 columns]

###ขั้นที่ 2 เชื่อมตาราง โดยใช้ตาราง SalesOrderItems เป็นตารางหลัก

##### เชื่อมตาราง SalesOrderItems และ Products  โดยใช้ PRODUCTID เป็นคีย์ เพื่อ map ข้อมูล PRODCATEGORYID (ชื่อชนิดสินค้า)

In [133]:
SalesOrderItems['name_product'] = SalesOrderItems['PRODUCTID'].map(Products.set_index('PRODUCTID')['PRODCATEGORYID']) 
SalesOrderItems

      SALESORDERID  SALESORDERITEM  ... DELIVERYDATE name_product
0        500000000              10  ...     20180311           MB
1        500000000              20  ...     20180311           CB
2        500000001              10  ...     20180228           HB
3        500000001              20  ...     20180228           RC
4        500000001              30  ...     20180228           CC
...            ...             ...  ...          ...          ...
1925     500000333              10  ...     20190709           MB
1926     500000333              20  ...     20190709           BX
1927     500000333              30  ...     20190709           EB
1928     500000333              40  ...     20190709           BX
1929     500000333              50  ...     20190709           BX

[1930 rows x 14 columns]

##### เชื่อมตาราง SalesOrderItems และ SalesOrders โดยใช้ SALEORDERID เป็นคีย์ เพื่อ map ข้อมูล SALESORG (ทวีปที่ตั้งขององค์กรคู่ค้า (partner))

In [134]:
SalesOrderItems['Region'] = SalesOrderItems['SALESORDERID'].map(SalesOrders.set_index('SALESORDERID')['SALESORG']) 
SalesOrderItems

      SALESORDERID  SALESORDERITEM PRODUCTID  ... DELIVERYDATE name_product  Region
0        500000000              10   MB-1034  ...     20180311           MB     APJ
1        500000000              20   CB-1161  ...     20180311           CB     APJ
2        500000001              10   HB-1175  ...     20180228           HB    EMEA
3        500000001              20   RC-1056  ...     20180228           RC    EMEA
4        500000001              30   CC-1021  ...     20180228           CC    EMEA
...            ...             ...       ...  ...          ...          ...     ...
1925     500000333              10   MB-1031  ...     20190709           MB     APJ
1926     500000333              20   BX-1013  ...     20190709           BX     APJ
1927     500000333              30   EB-1132  ...     20190709           EB     APJ
1928     500000333              40   BX-1011  ...     20190709           BX     APJ
1929     500000333              50   BX-1015  ...     20190709           BX     APJ

[1930 rows x 15 columns]

#####แปลงข้อมูล ทวีปเป็นตัวเลข

In [135]:
 dw_mapping={'APJ':1, 'EMEA':2, 'AMER':3}
Sale['Name_Region']=Sale['Region'].map(dw_mapping)

###ขั้นตอนที่ 3 จัดการข้อมูลวันที่

In [136]:
set(SalesOrderItems['DELIVERYDATE']) #ดูว่ามีวันแปลกๆหรือไม่

{20180223,
 20180225,
 20180228,
 20180301,
 20180305,
 20180307,
 20180308,
 20180309,
 20180311,
 20180314,
 20180315,
 20180317,
 20180321,
 20180322,
 20180323,
 20180325,
 20180328,
 20180330,
 20180401,
 20180402,
 20180403,
 20180408,
 20180411,
 20180412,
 20180414,
 20180419,
 20180420,
 20180421,
 20180424,
 20180425,
 20180429,
 20180430,
 20180501,
 20180503,
 20180504,
 20180505,
 20180507,
 20180508,
 20180511,
 20180512,
 20180518,
 20180527,
 20180528,
 20180529,
 20180530,
 20180531,
 20180601,
 20180604,
 20180606,
 20180608,
 20180612,
 20180617,
 20180618,
 20180620,
 20180621,
 20180622,
 20180627,
 20180701,
 20180703,
 20180706,
 20180708,
 20180709,
 20180712,
 20180713,
 20180715,
 20180716,
 20180718,
 20180719,
 20180720,
 20180721,
 20180729,
 20180730,
 20180731,
 20180801,
 20180803,
 20180806,
 20180807,
 20180808,
 20180809,
 20180810,
 20180811,
 20180820,
 20180822,
 20180823,
 20180824,
 20180828,
 20180829,
 20180902,
 20180903,
 20180906,
 20180908,
 20180909,
 20180911,
 20180913,
 20180914,
 20180917,
 20180920,
 20180921,
 20180926,
 20180927,
 20180930,
 20181004,
 20181006,
 20181007,
 20181009,
 20181010,
 20181013,
 20181014,
 20181015,
 20181016,
 20181017,
 20181020,
 20181023,
 20181026,
 20181028,
 20181031,
 20181103,
 20181106,
 20181107,
 20181108,
 20181110,
 20181111,
 20181113,
 20181114,
 20181116,
 20181124,
 20181125,
 20181126,
 20181127,
 20181130,
 20181203,
 20181204,
 20181205,
 20181207,
 20181208,
 20181211,
 20181214,
 20181215,
 20181217,
 20181219,
 20181221,
 20181223,
 20181226,
 20181227,
 20181228,
 20190101,
 20190102,
 20190103,
 20190108,
 20190109,
 20190113,
 20190114,
 20190115,
 20190117,
 20190118,
 20190119,
 20190120,
 20190121,
 20190122,
 20190123,
 20190125,
 20190127,
 20190128,
 20190202,
 20190203,
 20190205,
 20190209,
 20190211,
 20190212,
 20190213,
 20190218,
 20190219,
 20190228,
 20190302,
 20190304,
 20190305,
 20190307,
 20190309,
 20190310,
 20190311,
 20190312,
 20190313,
 20190315,
 20190316,
 20190319,
 20190320,
 20190327,
 20190401,
 20190402,
 20190406,
 20190407,
 20190408,
 20190413,
 20190414,
 20190415,
 20190416,
 20190422,
 20190423,
 20190424,
 20190427,
 20190428,
 20190429,
 20190503,
 20190508,
 20190510,
 20190511,
 20190512,
 20190513,
 20190515,
 20190517,
 20190518,
 20190519,
 20190520,
 20190524,
 20190525,
 20190526,
 20190530,
 20190531,
 20190603,
 20190604,
 20190605,
 20190606,
 20190608,
 20190610,
 20190613,
 20190614,
 20190616,
 20190617,
 20190619,
 20190620,
 20190621,
 20190622,
 20190625,
 20190627,
 20190628,
 20190630,
 20190708,
 20190709,
 29991212}

##### พบว่ามีวันที่ ที่มี ปี ค.ศ. ผิด จึงแปลงเป็นปี 2019 เนื่องจาก มีเพียง 2 ปี (2018-2019) ปี 2999 จึงน่าจะเป็นปี 2019

In [137]:
A=SalesOrderItems[SalesOrderItems['DELIVERYDATE']==29991212] #เลือกเฉพาะ 29991212 ที่ปี ค.ศ.ผิด

In [138]:
A['DELIVERYDATE']=int(20191212) # แทนปี 20191212 แทนปี 29991212

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [139]:
A # ดูข้อมูล

      SALESORDERID  SALESORDERITEM PRODUCTID  ... DELIVERYDATE name_product  Region
618      500000112              10   HB-1173  ...     20191212           HB     APJ
619      500000112              20   DB-1082  ...     20191212           DB     APJ
620      500000112              30   BX-1013  ...     20191212           BX     APJ
621      500000112              40   DB-1082  ...     20191212           DB     APJ
622      500000112              50   RC-1054  ...     20191212           RC     APJ
623      500000112              60   MB-1033  ...     20191212           MB     APJ
624      500000112              70   CB-1163  ...     20191212           CB     APJ
625      500000112              80   EB-1134  ...     20191212           EB     APJ
626      500000112              90   CC-1023  ...     20191212           CC     APJ
627      500000112             100   CB-1163  ...     20191212           CB     APJ
933      500000164              10   RC-1055  ...     20191212           RC    AMER
934      500000164              20   EB-1132  ...     20191212           EB    AMER
935      500000164              30   CC-1023  ...     20191212           CC    AMER
936      500000164              40   BX-1012  ...     20191212           BX    AMER
1784     500000308              10   RC-1055  ...     20191212           RC    AMER
1785     500000308              20   MB-1034  ...     20191212           MB    AMER
1786     500000308              30   CB-1163  ...     20191212           CB    AMER
1787     500000308              40   CC-1023  ...     20191212           CC    AMER
1788     500000308              50   MB-1033  ...     20191212           MB    AMER
1789     500000308              60   CC-1023  ...     20191212           CC    AMER
1790     500000308              70   EB-1137  ...     20191212           EB    AMER
1791     500000308              80   RO-1003  ...     20191212           RO    AMER

[22 rows x 15 columns]

In [140]:
Sales_OrderItems=SalesOrderItems[SalesOrderItems['DELIVERYDATE']<29991212] #เลือกข้อมูลมีปีน้อยกว่า 2999

In [141]:
Sale= pd.concat([Sales_OrderItems,A]) # ต่อตาราง A ที่แปลง ค.ศ.แล้ว กับตาราง Sales_OrderItems ที่ตัดปีที่ผิดแล้ว โดยตั้งชื่อตารางใหม่ว่า "Sale"

##### แปลงวันที่เป็น datetime

In [142]:
import pandas as pd # เรียกใช้คำสั่ง panda

In [143]:
Sale['DATE']=pd.to_datetime(Sale['DELIVERYDATE'], format='%Y%m%d') #สร้างคอลัมน์ใหม่ 'DATE' เพื่อใช้เก็บข้อมูลวันที่ ที่แปลงแล้ว

In [144]:
Sale #เรียกดูตาราง

      SALESORDERID  SALESORDERITEM PRODUCTID  ... name_product Region       DATE
0        500000000              10   MB-1034  ...           MB    APJ 2018-03-11
1        500000000              20   CB-1161  ...           CB    APJ 2018-03-11
2        500000001              10   HB-1175  ...           HB   EMEA 2018-02-28
3        500000001              20   RC-1056  ...           RC   EMEA 2018-02-28
4        500000001              30   CC-1021  ...           CC   EMEA 2018-02-28
...            ...             ...       ...  ...          ...    ...        ...
1787     500000308              40   CC-1023  ...           CC   AMER 2019-12-12
1788     500000308              50   MB-1033  ...           MB   AMER 2019-12-12
1789     500000308              60   CC-1023  ...           CC   AMER 2019-12-12
1790     500000308              70   EB-1137  ...           EB   AMER 2019-12-12
1791     500000308              80   RO-1003  ...           RO   AMER 2019-12-12

[1930 rows x 16 columns]

####เพิ่มคอลัมน์วันในสัปดาห์ โดยแปลงจากคอลัมน์ DATE โดย
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'

In [145]:
Sale['weekday']=Sale['DATE'].dt.weekday

In [154]:
set(Sale['weekday'])

{0, 1, 2, 3, 4, 5, 6}

###ขั้นที่ 4 ดูข้อมูลว่ามีวันที่ซ้ำกันหรือไม่ ในแต่ละยี่ห้อรถจักยานต์(ถ้ามีเลือกเฉพาะวันที่ที่มีคำสังซื้อ (SALESORDERITEM) เยอะที่สุด)

####4.1 เพิ่่มคอลัมน์ ปี ค.ศ. เดือน และ วัน เพื่อใช้เรียกดูข้อมูล

In [146]:
Sale['day']=Sale['DATE'].dt.day #วันที่

In [147]:
Sale['mount']=Sale['DATE'].dt.month  # เดือน

In [148]:
Sale['year']=Sale['DATE'].dt.year #ปี

####4.2 รถจักยานต์ชนิด Road Bike:RO

In [166]:
RO=Sale[Sale['name_product']=='RO']

#####4.2.1 ดูข้อมูลในแต่ละทวีป

In [167]:
set(RO['Region'])

{'AMER', 'APJ', 'EMEA'}

######1) Region:America

In [162]:
RO_AMER=RO[RO['Region']=='AMER'] #ทวีป America

######เรียกดูข้อมูลปี 2018

In [165]:
RO_AMER_2018=RO_AMER[RO_AMER['year']==2018]

In [168]:
set(RO_AMER_2018['mount']) ## ไม่มีข้อมูลคำสั่งซื้อในเดือน มกราคม กุมภาพันธ์ และธันวาคม

{3, 4, 5, 6, 7, 8, 9, 10, 11}

###### เรียกดูข้อมูลปี 2018 ในเดือนต่างๆ

######เดือนมีนาคม

In [173]:
RO_AMER_2018_3=RO_AMER_2018[RO_AMER_2018['mount']==3].sort_values(by='SALESORDERITEM').drop(68) #พบว่ามีวันที่ 21 มีนาคม สั่งสินค้าซ้ำกัน จึงตัดแถวที่มีจำนวนคำสังซื้อน้อยกว่าทิ้งคือแถว 68

######เดือนเมษายน

In [175]:
RO_AMER_2018_4=RO_AMER_2018[RO_AMER_2018['mount']==4].sort_values(by='SALESORDERITEM') #ไม่มีวันที่ ที่มีคำสั่งซื้อซ้ำ

######เดือนพฤษภาคม

######เดือนมิถุนายน

######เดือนกรกฎาคม

######เดือนสิงหาคม

######เดือนกันยายน

######เดือนตุลาคม

######เดือนพฤศจิกายน

######เดือนธันวาคม