<a href="https://colab.research.google.com/github/nicha0524/DPDM2021/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ข้อมูลตัวอย่างการขายจักรยายนต์ 
สืบค้นจาก: https://www.kaggle.com/yasinnaal/bikes-sales-sample-data?select=Products.csv

#ความเชื่อมโยงของข้อมูลแต่ละตาราง

##ชั้นตอนที่ 1 ดึงข้อมูลจาก drive

In [1]:
import pandas as pd

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

import os # จัดการไฟล์และ path

###  ตารางที่ 1 ตาราง Products

In [12]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
Products= pd.read_csv(os.path.join(path,'Products.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
Products

   PRODUCTID TYPECODE PRODCATEGORYID  ...  WEIGHTUNIT  CURRENCY  PRICE
0    RO-1001       PR             RO  ...          KG       USD    525
1    RO-1002       PR             RO  ...          KG       USD    689
2    RO-1003       PR             RO  ...          KG       USD    721
3    BX-1011       PR             BX  ...          KG       USD    249
4    BX-1012       PR             BX  ...          KG       USD    399
5    BX-1013       PR             BX  ...          KG       USD    449
6    BX-1014       PR             BX  ...          KG       USD    799
7    BX-1015       PR             BX  ...          KG       USD    299
8    BX-1016       PR             BX  ...          KG       USD    319
9    CC-1021       PR             CC  ...          KG       USD   1144
10   CC-1022       PR             CC  ...          KG       USD   1200
11   CC-1023       PR             CC  ...          KG       USD   1361
12   MB-1031       PR             MB  ...          KG       USD    649
13   MB-1032       PR             MB  ...          KG       USD   1299
14   MB-1033       PR             MB  ...          KG       USD   3999
15   MB-1034       PR             MB  ...          KG       USD   2499
16   RC-1051       PR             RC  ...          KG       USD   2499
17   RC-1052       PR             RC  ...          KG       USD   3999
18   RC-1053       PR             RC  ...          KG       USD   4599
19   RC-1054       PR             RC  ...          KG       USD   5499
20   RC-1055       PR             RC  ...          KG       USD   1999
21   RC-1056       PR             RC  ...          KG       USD   2499
22   RC-1057       PR             RC  ...          KG       USD   4999
23   DB-1081       PR             DB  ...          KG       USD   1499
24   DB-1082       PR             DB  ...          KG       USD   1250
25   DB-1083       PR             DB  ...          KG       USD   1199
26   EB-1131       PR             EB  ...          KG       USD   1500
27   EB-1132       PR             EB  ...          KG       USD   1900
28   EB-1133       PR             EB  ...          KG       USD   2250
29   EB-1134       PR             EB  ...          KG       USD   4800
30   EB-1135       PR             EB  ...          KG       USD   3000
31   EB-1136       PR             EB  ...          KG       USD   5000
32   EB-1137       PR             EB  ...          KG       USD   7900
33   CB-1161       PR             CB  ...          KG       USD    399
34   CB-1162       PR             CB  ...          KG       USD    400
35   CB-1163       PR             CB  ...          KG       USD    288
36   HB-1171       PR             HB  ...          KG       USD    699
37   HB-1172       PR             HB  ...          KG       USD    799
38   HB-1173       PR             HB  ...          KG       USD    649
39   HB-1174       PR             HB  ...          KG       USD    379
40   HB-1175       PR             HB  ...          KG       USD    899
41   HB-1176       PR             HB  ...          KG       USD   1199

[42 rows x 14 columns]

###ตารางที่ 2 SalesOrderItems

In [5]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
SalesOrderItems= pd.read_csv(os.path.join(path,'SalesOrderItems.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
SalesOrderItems

      SALESORDERID  SALESORDERITEM  ... QUANTITYUNIT DELIVERYDATE
0        500000000              10  ...           EA     20180311
1        500000000              20  ...           EA     20180311
2        500000001              10  ...           EA     20180228
3        500000001              20  ...           EA     20180228
4        500000001              30  ...           EA     20180228
...            ...             ...  ...          ...          ...
1925     500000333              10  ...           EA     20190709
1926     500000333              20  ...           EA     20190709
1927     500000333              30  ...           EA     20190709
1928     500000333              40  ...           EA     20190709
1929     500000333              50  ...           EA     20190709

[1930 rows x 13 columns]

###ตาราง SalesOrders

In [8]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
SalesOrders= pd.read_csv(os.path.join(path,'SalesOrders.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
SalesOrders

     SALESORDERID  CREATEDBY  CREATEDAT  ...  GROSSAMOUNT  NETAMOUNT  TAXAMOUNT
0       500000000          4   20180111  ...        13587  11888.625   1698.375
1       500000001          2   20180112  ...        12622  11044.250   1577.750
2       500000002          5   20180115  ...        45655  39948.125   5706.875
3       500000003          3   20180115  ...       101786  89062.750  12723.250
4       500000004          8   20180116  ...        71684  62723.500   8960.500
..            ...        ...        ...  ...          ...        ...        ...
329     500000329          7   20190619  ...        90621  79293.375  11327.625
330     500000330         11   20190622  ...       113871  99637.125  14233.875
331     500000331          3   20190625  ...        12693  11106.375   1586.625
332     500000332         13   20190627  ...        70528  61712.000   8816.000
333     500000333          5   20190627  ...        16576  14504.000   2072.000

[334 rows x 13 columns]

###ตารางงที่ 4 ProductCategory (ตัวย่อและชื่อเต็มของจักรยานแต่ละประเภท )

In [10]:
path = '/content/drive/My Drive/DPDM2021_DATA' #    เรียกข้อมูลจาก drive
ProductCategory= pd.read_csv(os.path.join(path,'ProductCategoryText.csv')) # read ข้อมูลจาก Excel โดยใช้ คำสั่ง  pd.read_csv
ProductCategory

  PRODCATEGORYID LANGUAGE       SHORT_DESCR
0             RO       EN         Road Bike
1             BX       EN               BMX
2             CC       EN  Cyclo-cross Bike
3             MB       EN     Mountain Bike
4             RC       EN       Racing Bike
5             DB       EN     Downhill Bike
6             EB       EN             eBike
7             CB       EN           Cruiser
8             HB       EN       Hybrid Bike

##ขั้นที่ตอน2 ตรวจสอบค่าผิดปกติของข้อมูล

In [13]:
Products.isnull().all() # ไม่มีค่าผิดปกติ

PRODUCTID             False
TYPECODE              False
PRODCATEGORYID        False
CREATEDBY             False
CREATEDAT             False
CHANGEDBY             False
CHANGEDAT             False
SUPPLIER_PARTNERID    False
TAXTARIFFCODE         False
QUANTITYUNIT          False
WEIGHTMEASURE         False
WEIGHTUNIT            False
CURRENCY              False
PRICE                 False
dtype: bool

In [ ]:
##### ตาราง SalesOrderItems มีข้อทูลผิดปกติ 1 column เนื่องจากเป็น Column ที่ไม่ใช้จึงไม่ได้จัดการข้อมูล

In [14]:
SalesOrderItems.isnull().all()

SALESORDERID      False
SALESORDERITEM    False
PRODUCTID         False
NOTEID            False
CURRENCY          False
GROSSAMOUNT       False
NETAMOUNT         False
TAXAMOUNT         False
ITEMATPSTATUS     False
OPITEMPOS          True
QUANTITY          False
QUANTITYUNIT      False
DELIVERYDATE      False
dtype: bool

In [ ]:
##### ตาราง SalesOrders มีข้อทูลผิดปกติ 1 column คือNOTEID (หมายเหตุ) เนื่องจากเป็น Column ที่ไม่ใช้จึงไม่ได้จัดการข้อมูล

In [15]:
SalesOrders.isnull().all()

SALESORDERID        False
CREATEDBY           False
CREATEDAT           False
CHANGEDBY           False
CHANGEDAT           False
FISCALYEARPERIOD    False
NOTEID               True
PARTNERID           False
SALESORG            False
CURRENCY            False
GROSSAMOUNT         False
NETAMOUNT           False
TAXAMOUNT           False
dtype: bool

In [ ]:
ProductCategory.isnull().all() # ไม่มีข้อมูลผิดปกติ

#โจทย์คำถาม 
        1.